@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container-left {
    display: inline-block;
    width: 50%;
    height: 100vh;
}

.container-rigth {
    display: inline-block;
    width: 50%;
    height: 100vh;
    position: absolute;
}

header {
    margin: 44px 0 0 76px;
    position: absolute;
}

a {
    color: #989D9C;
    font-size: 24px;
    width: 79px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 23px;
}

a:hover {
    color: #515151;
}

a:active {
    color: #989D9C;
}

.cadastro {
    width: 130px;
    height: 41px;
    color: #FFF;
    background: #665AE1;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.cadastro:hover {
    opacity: 0.50;
}

.cadastro:active {
    opacity: 0.8;
}

img {
    width: 568px;
    margin: 144px 86px 0 125px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    margin-top: 217px;
    width: 513px;
}

h3 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 32px;
    width: 448px;
}

p {
    color: #848484;
    width: 515px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 65px;
}

.explore {
    width: 239px;
    height: 64px;
    border-radius: 50px;
    background: #ADFF00;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    position: static;
}

.explore:hover {
    opacity: 0.80;
    color: #000;
}

.explore:active {
    background: #ADFF00;
    color: #000;
}

@media screen and (max-width: 900px) {
    /* .container {
        width: 100%;
        height: 100%;
    } */

    .container-left {
        display: block;
        width: 100%;
        height: 50%;
    }

    .container-rigth {
        display: block;
        width: 100%;
        height: 50vh;
        position: absolute;
    }

    header {
        display: none;
    }

    img {
        max-width: 354px;
        width: 90%;
    }

    h1 {
        color: #515151;
        font-size: 50px;
        font-weight: 900;
        width: 263px;
        text-align: center;
        margin: 0 auto;
    }

    h3 {
        color: #515151;
        font-size: 30px;
        font-weight: 500;
        width: 232px;
        margin: 0 auto;
        text-align: center;
    }

    p {
        display: none;
    }

    .explore {
        position: static;
        width: 239px;
        border-radius: 50px;
        background: #ADFF00;
        border: none;
        color: #000;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin: 0 auto;
    }


}